# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# PyTorch
*.pth
*.pt
checkpoints/
exp/
logs/
wandb/

# Data & Results
results/
inference_results/
inference_results_noise/
experiments/
*.h5
*.wav
*.npy

# Generated Plots
*.png
*.jpg

# Editor
.vscode/
.idea/
*.swp

# Compiled extensions
*.so
